<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472124115912-b7rc543je31r2o65a0nseqm0e6bt06dk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472124115912-b7rc543je31r2o65a0nseqm0e6bt06dk</string>
	<key>API_KEY</key>
	<string>AIzaSyAs429TYDTEk8MLCGBsIFx48AciKCvkbGI</string>
	<key>GCM_SENDER_ID</key>
	<string>472124115912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.devschool.devpush</string>
	<key>PROJECT_ID</key>
	<string>ionicpushapp-88d26</string>
	<key>STORAGE_BUCKET</key>
	<string>ionicpushapp-88d26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472124115912:ios:03d4535c96584141c8cefd</string>
</dict>
</plist>